@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORCE DARK THEME */
html, body {
  background-color: #020617; /* slate-950 */
  color: #e2e8f0;
}

/* Fix Tailwind Typography forcing white */
.prose {
  color: #cbd5f5;
}

.prose * {
  color: inherit;
}

.prose pre,
.prose code,
.prose div {
  background-color: transparent !important;
}